*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    
}

.row{
    margin:0px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    width:calc(100% / 3 - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: black;
}
.box img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
h2{
    color: #fff;
}
.text{
    color: gray;
}